@{
    ViewBag.Title = "Contatos";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Esta com dúvidas ou sugestões? Fale com a gente! mais caso tenha uma reclamação! Não tem Problema solte a voz e fale com a gente.
            </p>
        </div>
    </section>
}


<section class="contact">
    <header>
        <h3>Telefone</h3>
    </header>
    <p>
        <span class="label">Celular:</span>
        <span>425.555.0100</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Suporte:</span>
        <span><a href="mailto:Support@example.com">suporte@sisproduto.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Endereço</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>