@{
    ViewBag.Title = "SisProduto";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                SisProduto é um sistema moderno voltado para o controle de produtos de sua empresa, 
                visando um melhor gerenciamento de seus produtos.
            </p>
        </div>
    </section>
}
<h3>Você pode começar agora:</h3>
<ol class="round">
    <li class="one">
        <h5>Iniciando</h5>
        Navegue pelos menus superiores para entrar nas diversas funcionalidades do sistema.
    </li>

    <li class="two">
        <h5>Cadastrando Produto</h5>
        Você pode cadastrar os seus produtos agora mesmo, 
        para isso basta acessar o menu de cadastro de produtos e começar a desfrutar deste sistema.
    </li>

    <li class="three">
        <h5>Dúvidas?</h5>
        Achou o sistema complicado, ou tem alguma sugestão, entre em contato com a gente pela nossa area de
        contato agora mesmo!
    </li>
</ol>
